@mixin reset{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

@mixin reset-decoration{
    text-decoration: none;
    color: #fff;
}

@mixin button-menu {
    margin-top: 40px;
    padding: 10px 30px;
    font-size: 14px;
    transition: width 2s;
    position: relative;
}

@mixin Dark-card{
    

    .dark-box-contain{
        width: 400px;
        color: rgb(214, 214, 214);
        z-index: 3000;
        
        h6{
            font-size: 16px;
            margin-bottom: 40px;
        }
        
        
        p{
            margin-top: 20px;
            font-size: 19px;
            line-height: 1.5;
        }

         .btn-explore{
           @include button-menu;
           background-color: black;
           color: #fff;

            
            .btn-content{
                background-color: #fff;
                width: 100%;
                padding: 10px 30px;
                margin-top: 40px;
                position: absolute;
                bottom: 0;
                right: 0;
                color: #000;
                display: none
            }
        }

        .btn-explore:hover .btn-content{
           display: block; 
        }

    }

   
}

$bg-fine-dining: '../img/slider52x.jpg';
$bg-rolls: '../img/hover-image1.png';
$bg-rolls-hover: '../img/hover-image1.png';
$bg-sushi: '../img/slider32x.jpg';
$bg-cards-1: '../img/blog72x-800x916.jpg';
$bg-footer: '../img/footer2x.jpg';
$bg-guardian: '../img/info52x.jpg';
$bg-globe: '../img/info12x.jpg';